// 
//  Events
//  ---------------------------------


// Titles
//---------------------

.title,
.title-lg, 
.title-sm,
.title-xs {
  &, a {
    display: block;
  }
}
.title-lg,
.title-sm,
.title-xs {
  font-weight: 200;
  Margin-bottom: 7px;
}
.title-lg {
  font-size: floor($font-size-base * 1.35);
  line-height: $line-height-large;
}
.title-sm {
  font-size: $font-size-base;
}
.title-xs {
  font-size: floor($font-size-base * .9);
  line-height: 1.4;
}
.title,
.subtitle {
  font-weight: $font-weight-base;
}
.title {
  font-size: floor($font-size-base * 1.2);
  Margin-bottom:3px;
  line-height: 24px;
}
.subtitle {
  color:lighten($text-color,15%);
}


// Meta Data
//---------------------

.date,
.meta,
.location {
  font-size: floor($font-size-base * .9);
  line-height: 1.4;
  Margin-bottom: 0;
}
.date {
  font-weight: bold;
}
.meta,
.location {
  Margin-bottom:10px;
}


// Events
//---------------------

.events {
  Margin: 0;
  padding-left: 0px;
  padding-bottom: 0px;
  list-style: none;
  
  li {
    Margin: 0;
    Margin-bottom: 15px;
    
    &:last-child {
      Madding-bottom:0;
    }
  }
  
  .more {
    padding: 0;
    font-size: floor($font-size-base * .9);
    font-weight: normal;
    text-transform: uppercase;
  }
  
  .event-header {
    padding-bottom: 10px;
    font-size: floor($font-size-base * .95);
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    
    a {
      color: $text-color;
    }
  }
}