// 
//  Events
//  ---------------------------------

// Titles

.title,
.title-lg, 
.title-sm,
.title-xs {
  &, a {
    display: block;
  }
}
.title-lg,
.title-sm,
.title-xs {
  font-weight: 200;
  Margin-bottom: 7px;
}
.title-lg {
  font-size: floor($font-size-base * 1.35);
  line-height: $line-height-large;
}
.title-sm {
  font-size: $font-size-base;
}
.title-xs {
  font-size: floor($font-size-base * .9);
  line-height: 1.4;
}
.title,
.subtitle {
  font-weight: $font-weight-base;
}
.title {
  font-size: floor($font-size-base * 1.2);
  Margin-bottom:3px;
  line-height: 24px;
}
.subtitle {
  color:lighten($text-color,15%);
}


// Meta data

.date,
.meta,
.location {
  font-size: floor($font-size-base * .9);
  line-height: 1.4;
  Margin-bottom: 0;
}
.date {
  font-weight: bold;
}
.meta,
.location {
  Margin-bottom:10px;
}