// 
//  Header
//  ---------------------------------


// Logo
//---------------------

.two-column,
.three-column,
.sixtyfourty-column {
	
	.logo .inner {
  	padding: 0;
  	padding-top: 20px;
  	
  	img {
  		max-width: 165px;
  	
    	@media screen and(max-width: $reorder-layout) {
    		max-width: 165px !important;
    	}
  	}
	}
	.logo img {
	}
}


// Tagline
//---------------------

.header-tagline .inner {
	padding: 0;
	padding-top: 15px;
}
.header-tagline .contents {
  display: inline-block;
  padding-top: 29px;
  font-size: 16px;
  
  a, & {
    color: $meta-color;
  }
  	
	@media screen and(max-width: $reorder-layout) {
    padding-top: 10px !important;
	}
}


// Description
//---------------------

.header-description {
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}