// 
//  Reset Client-specific Styles 
//  ---------------------------------


body {
	Margin: 0;
	padding: 0;
	min-width: 100%;
	background-color: #ffffff;
}

table {
	border-spacing: 0;
  color: $text-color;
  font-family: $base-font;
}

td {
	padding: 0;
}

p {
	Margin: 0;
}