// 
//  Scaffolding 
//  ---------------------------------

// Containers
//---------------------

.wrapper {
	width: 100%;
	table-layout: fixed;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

.webkit {
	max-width: 600px;
}

.outer {
	Margin: 0 auto;
	width: 100%;
	max-width: 600px;
}

.inner {
	padding: 15px;
}

.contents {
	width: 100%;
}


// Links
//---------------------

a {
  text-decoration: none;
  color: $link-color;
}

.textlink {
  color: $text-color;
}


// Image defaults
//---------------------

img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  border: 0;
  
  a & {
    border: 0;
  }
}

.img_fix {
  display: block;
}

.full-width-image img {
	width: 100%;
	max-width: 600px;
	height: auto;
}


// Default content
//---------------------

.contents {
  color: $text-color;
  font-family: $base-font;
  line-height: $line-height-base;
  font-weight: $font-weight-base;
  font-size: $font-size-base;
  text-align: left;
}