/* line 6, ../scss/_reset.scss */
body {
  Margin: 0;
  padding: 0;
  min-width: 100%;
  background-color: #ffffff;
}

/* line 13, ../scss/_reset.scss */
table {
  border-spacing: 0;
  color: #444444;
  font-family: "Open Sans", Arial, sans-serif;
}

/* line 19, ../scss/_reset.scss */
td {
  padding: 0;
}

/* line 23, ../scss/_reset.scss */
.wrapper {
  width: 100%;
  table-layout: fixed;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 30, ../scss/_reset.scss */
.webkit {
  max-width: 600px;
}

/* line 34, ../scss/_reset.scss */
.outer {
  Margin: 0 auto;
  width: 100%;
  max-width: 600px;
}

/* line 40, ../scss/_reset.scss */
.inner {
  padding: 10px;
}

/* line 44, ../scss/_reset.scss */
.contents {
  width: 100%;
}

/* line 48, ../scss/_reset.scss */
p {
  Margin: 0;
}

/* line 9, ../scss/_scaffolding.scss */
a {
  text-decoration: none;
  color: #900028;
}

/* line 14, ../scss/_scaffolding.scss */
.textlink {
  color: #444444;
}

/* line 22, ../scss/_scaffolding.scss */
img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  border: 0;
}
/* line 28, ../scss/_scaffolding.scss */
a img {
  border: 0;
}

/* line 33, ../scss/_scaffolding.scss */
.img_fix {
  display: block;
}

/* line 37, ../scss/_scaffolding.scss */
.full-width-image img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

/* line 47, ../scss/_scaffolding.scss */
.contents {
  color: #444444;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.6;
  font-weight: normal;
  font-size: 15px;
  text-align: left;
}

/* line 9, ../scss/_grid.scss */
.two-column,
.three-column,
.sixtyfourty-column,
.sidebar {
  font-size: 0;
  text-align: center;
}
/* line 16, ../scss/_grid.scss */
.two-column .column,
.two-column .column-2,
.two-column .column-sixty,
.two-column .column-fourty,
.three-column .column,
.three-column .column-2,
.three-column .column-sixty,
.three-column .column-fourty,
.sixtyfourty-column .column,
.sixtyfourty-column .column-2,
.sixtyfourty-column .column-sixty,
.sixtyfourty-column .column-fourty,
.sidebar .column,
.sidebar .column-2,
.sidebar .column-sixty,
.sidebar .column-fourty {
  width: 100%;
  display: inline-block;
}
/* line 24, ../scss/_grid.scss */
.two-column img,
.three-column img,
.sixtyfourty-column img,
.sidebar img {
  width: 100%;
  height: auto;
}

/* line 34, ../scss/_grid.scss */
.two-column .column,
.two-column .column-2,
.two-column .column-sixty,
.two-column .column-fourty,
.three-column .column,
.three-column .column-2,
.three-column .column-sixty,
.three-column .column-fourty,
.sixtyfourty-column .column,
.sixtyfourty-column .column-2,
.sixtyfourty-column .column-sixty,
.sixtyfourty-column .column-fourty {
  vertical-align: top;
}
/* line 41, ../scss/_grid.scss */
.two-column .text,
.three-column .text,
.sixtyfourty-column .text {
  padding-top: 10px;
}

/* line 48, ../scss/_grid.scss */
.sidebar .column {
  vertical-align: middle;
}
/* line 52, ../scss/_grid.scss */
.sidebar img {
  max-width: 80px;
}

/* line 63, ../scss/_grid.scss */
.two-column .column {
  max-width: 300px;
}
/* line 67, ../scss/_grid.scss */
.two-column img {
  max-width: 280px;
}

/* line 78, ../scss/_grid.scss */
.sixtyfourty-column .column-sixty {
  max-width: 360px;
}
/* line 81, ../scss/_grid.scss */
.sixtyfourty-column .column-sixty img {
  max-width: 340px;
}
/* line 86, ../scss/_grid.scss */
.sixtyfourty-column .column-fourty {
  max-width: 240px;
}
/* line 89, ../scss/_grid.scss */
.sixtyfourty-column .column-fourty img {
  max-width: 220px;
}

/* line 99, ../scss/_grid.scss */
.three-column {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 103, ../scss/_grid.scss */
.three-column .column {
  max-width: 200px;
}
/* line 107, ../scss/_grid.scss */
.three-column .column-2 {
  max-width: 400px;
}
/* line 111, ../scss/_grid.scss */
.three-column .contents {
  text-align: center;
}
/* line 115, ../scss/_grid.scss */
.three-column img {
  max-width: 180px;
}
/* line 119, ../scss/_grid.scss */
.three-column .column-2 img {
  max-width: 380px;
}

/* line 130, ../scss/_grid.scss */
.sidebar .aside {
  max-width: 100px;
}
/* line 134, ../scss/_grid.scss */
.sidebar .main {
  max-width: 500px;
}

@media screen and (max-width: 460px) {
  /* line 148, ../scss/_grid.scss */
  .two-column .column,
  .two-column .column-2,
  .two-column .column-sixty,
  .two-column .column-fourty,
  .three-column .column,
  .three-column .column-2,
  .three-column .column-sixty,
  .three-column .column-fourty,
  .sixtyfourty-column .column,
  .sixtyfourty-column .column-2,
  .sixtyfourty-column .column-sixty,
  .sixtyfourty-column .column-fourty {
    max-width: 100% !important;
  }
  /* line 155, ../scss/_grid.scss */
  .two-column .contents,
  .three-column .contents,
  .sixtyfourty-column .contents {
    text-align: center !important;
  }

  /* line 160, ../scss/_grid.scss */
  .two-column img {
    max-width: 100% !important;
  }

  /* line 164, ../scss/_grid.scss */
  .three-column img {
    max-width: 50% !important;
  }

  /* line 170, ../scss/_grid.scss */
  .sixtyfourty-column .column-sixty img {
    max-width: 100%;
  }
  /* line 174, ../scss/_grid.scss */
  .sixtyfourty-column .column-fourty img {
    max-width: 50%;
  }
}
@media screen and (min-width: 461px) and (max-width: 620px) {
  /* line 183, ../scss/_grid.scss */
  .sixtyfourty-column .column-sixty {
    max-width: 60% !important;
  }
  /* line 187, ../scss/_grid.scss */
  .sixtyfourty-column .column-fourty {
    max-width: 40% !important;
  }

  /* line 194, ../scss/_grid.scss */
  .three-column .column {
    max-width: 33% !important;
  }
  /* line 198, ../scss/_grid.scss */
  .three-column .column-2 {
    max-width: 66% !important;
  }

  /* line 203, ../scss/_grid.scss */
  .two-column .column {
    max-width: 50% !important;
  }

  /* line 207, ../scss/_grid.scss */
  .sidebar .main {
    max-width: 100% !important;
  }
  /* line 210, ../scss/_grid.scss */
  .sidebar .main .contents {
    text-align: center !important;
  }
}
/* line 9, ../scss/_type.scss */
h1, h2, h3, h4, h5, h6 {
  Margin-top: 0;
  color: #333333;
  line-height: 1.2;
}
/* line 13, ../scss/_type.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
  color: #900028 !important;
}

/* line 19, ../scss/_type.scss */
h1, h2, h3 {
  Margin-bottom: 12px;
}

/* line 23, ../scss/_type.scss */
h4, h5, h6 {
  Margin-bottom: 12px;
}

/* line 27, ../scss/_type.scss */
h1 {
  font-size: 39px;
}

/* line 28, ../scss/_type.scss */
h2 {
  font-size: 32px;
}

/* line 29, ../scss/_type.scss */
h3 {
  font-size: 26px;
}

/* line 30, ../scss/_type.scss */
h4 {
  font-size: 19px;
}

/* line 31, ../scss/_type.scss */
h5 {
  font-size: 15px;
}

/* line 32, ../scss/_type.scss */
h6 {
  font-size: 13px;
}

/* line 38, ../scss/_type.scss */
p {
  padding: 0;
  Margin-bottom: 1.2em;
}

/* line 47, ../scss/_type.scss */
ul {
  margin: 0;
  Margin-bottom: 17px;
}

/* line 51, ../scss/_type.scss */
li {
  Margin-bottom: 7px;
}

/* line 59, ../scss/_type.scss */
.lead {
  font-size: 23px;
}

/* line 67, ../scss/_type.scss */
small {
  color: #777777;
  font-size: 85%;
}
