/* line 6, ../scss/_reset.scss */
body {
  Margin: 0;
  padding: 0;
  min-width: 100%;
  background-color: #ffffff;
}

/* line 13, ../scss/_reset.scss */
table {
  border-spacing: 0;
  color: #444444;
  font-family: "Open Sans", Arial, sans-serif;
}

/* line 19, ../scss/_reset.scss */
td {
  padding: 0;
}

/* line 23, ../scss/_reset.scss */
p {
  Margin: 0;
}

/* line 8, ../scss/_scaffolding.scss */
body,
.wrapper {
  background-color: #f9f9f9;
}
@media screen and (max-width: 460px) {
  /* line 8, ../scss/_scaffolding.scss */
  body,
  .wrapper {
    background-color: #ffffff !important;
  }
}

/* line 17, ../scss/_scaffolding.scss */
.wrapper {
  width: 100%;
  table-layout: fixed;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 24, ../scss/_scaffolding.scss */
.webkit {
  max-width: 600px;
}

/* line 28, ../scss/_scaffolding.scss */
.outer {
  Margin: 0 auto;
  width: 100%;
  max-width: 600px;
}

/* line 34, ../scss/_scaffolding.scss */
.inner {
  padding: 15px;
}

/* line 38, ../scss/_scaffolding.scss */
.contents {
  width: 100%;
}

/* line 46, ../scss/_scaffolding.scss */
a {
  text-decoration: none;
  color: #900028;
}

/* line 51, ../scss/_scaffolding.scss */
.textlink {
  color: #444444;
}

/* line 59, ../scss/_scaffolding.scss */
img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  border: 0;
}
/* line 65, ../scss/_scaffolding.scss */
a img {
  border: 0;
}

/* line 70, ../scss/_scaffolding.scss */
.img_fix {
  display: block;
}

/* line 74, ../scss/_scaffolding.scss */
.full-width-image img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

/* line 84, ../scss/_scaffolding.scss */
.contents {
  color: #444444;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.6;
  font-weight: normal;
  font-size: 15px;
  text-align: left;
}

/* line 9, ../scss/_grid.scss */
.two-column,
.three-column,
.sixtyfourty-column,
.sidebar {
  font-size: 0;
  text-align: center;
}
/* line 16, ../scss/_grid.scss */
.two-column .column,
.two-column .column-2,
.two-column .column-sixty,
.two-column .column-fourty,
.three-column .column,
.three-column .column-2,
.three-column .column-sixty,
.three-column .column-fourty,
.sixtyfourty-column .column,
.sixtyfourty-column .column-2,
.sixtyfourty-column .column-sixty,
.sixtyfourty-column .column-fourty,
.sidebar .column,
.sidebar .column-2,
.sidebar .column-sixty,
.sidebar .column-fourty {
  width: 100%;
  display: inline-block;
}
/* line 24, ../scss/_grid.scss */
.two-column img,
.three-column img,
.sixtyfourty-column img,
.sidebar img {
  width: 100%;
  height: auto;
}

/* line 34, ../scss/_grid.scss */
.two-column .column,
.two-column .column-2,
.two-column .column-sixty,
.two-column .column-fourty,
.three-column .column,
.three-column .column-2,
.three-column .column-sixty,
.three-column .column-fourty,
.sixtyfourty-column .column,
.sixtyfourty-column .column-2,
.sixtyfourty-column .column-sixty,
.sixtyfourty-column .column-fourty {
  vertical-align: top;
}
/* line 41, ../scss/_grid.scss */
.two-column .text,
.three-column .text,
.sixtyfourty-column .text {
  padding-top: 10px;
}

/* line 48, ../scss/_grid.scss */
.sidebar .column {
  vertical-align: middle;
}
/* line 52, ../scss/_grid.scss */
.sidebar img {
  max-width: 80px;
}

/* line 63, ../scss/_grid.scss */
.two-column .column {
  max-width: 300px;
}
/* line 67, ../scss/_grid.scss */
.two-column img {
  max-width: 280px;
}

/* line 78, ../scss/_grid.scss */
.sixtyfourty-column .column-sixty,
.sixtyfourty-column .column-sixty .inner-padless img {
  max-width: 360px;
}
/* line 82, ../scss/_grid.scss */
.sixtyfourty-column .column-sixty img,
.sixtyfourty-column .column-sixty .inner-padless img img {
  max-width: 340px;
}
/* line 87, ../scss/_grid.scss */
.sixtyfourty-column .column-fourty,
.sixtyfourty-column .column-fourty .inner-padless img {
  max-width: 240px;
}
/* line 91, ../scss/_grid.scss */
.sixtyfourty-column .column-fourty img,
.sixtyfourty-column .column-fourty .inner-padless img img {
  max-width: 220px;
}

/* line 101, ../scss/_grid.scss */
.three-column {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 105, ../scss/_grid.scss */
.three-column .column {
  max-width: 200px;
}
/* line 109, ../scss/_grid.scss */
.three-column .column-2 {
  max-width: 400px;
}
/* line 113, ../scss/_grid.scss */
.three-column .contents {
  text-align: center;
}
/* line 117, ../scss/_grid.scss */
.three-column img {
  max-width: 180px;
}
/* line 121, ../scss/_grid.scss */
.three-column .column-2 img {
  max-width: 380px;
}

/* line 132, ../scss/_grid.scss */
.sidebar .aside {
  max-width: 100px;
}
/* line 136, ../scss/_grid.scss */
.sidebar .main {
  max-width: 500px;
}

@media screen and (max-width: 460px) {
  /* line 150, ../scss/_grid.scss */
  .two-column .column,
  .two-column .column-2,
  .two-column .column-sixty,
  .two-column .column-fourty,
  .three-column .column,
  .three-column .column-2,
  .three-column .column-sixty,
  .three-column .column-fourty,
  .sixtyfourty-column .column,
  .sixtyfourty-column .column-2,
  .sixtyfourty-column .column-sixty,
  .sixtyfourty-column .column-fourty {
    max-width: 100% !important;
  }
  /* line 157, ../scss/_grid.scss */
  .two-column .contents,
  .three-column .contents,
  .sixtyfourty-column .contents {
    text-align: center !important;
  }

  /* line 162, ../scss/_grid.scss */
  .two-column img {
    max-width: 100% !important;
  }

  /* line 166, ../scss/_grid.scss */
  .three-column img {
    max-width: 50% !important;
  }

  /* line 172, ../scss/_grid.scss */
  .sixtyfourty-column .inner,
  .sixtyfourty-column .inner-padless,
  .sixtyfourty-column .inner-padless td {
    width: 460px !important;
    max-width: 100% !important;
  }
  /* line 179, ../scss/_grid.scss */
  .sixtyfourty-column .column-sixty img {
    max-width: 100% !important;
  }
  /* line 183, ../scss/_grid.scss */
  .sixtyfourty-column .column-fourty img {
    max-width: 50% !important;
  }
}
@media screen and (min-width: 461px) and (max-width: 620px) {
  /* line 192, ../scss/_grid.scss */
  .sixtyfourty-column .column-sixty {
    max-width: 60% !important;
  }
  /* line 196, ../scss/_grid.scss */
  .sixtyfourty-column .column-fourty {
    max-width: 40% !important;
  }

  /* line 203, ../scss/_grid.scss */
  .three-column .column {
    max-width: 33% !important;
  }
  /* line 207, ../scss/_grid.scss */
  .three-column .column-2 {
    max-width: 66% !important;
  }

  /* line 212, ../scss/_grid.scss */
  .two-column .column {
    max-width: 50% !important;
  }

  /* line 216, ../scss/_grid.scss */
  .sidebar .main {
    max-width: 100% !important;
  }
  /* line 219, ../scss/_grid.scss */
  .sidebar .main .contents {
    text-align: center !important;
  }
}
/* line 9, ../scss/_type.scss */
h1, h2, h3, h4, h5, h6 {
  Margin-top: 0;
  color: #333333;
  line-height: 1.2;
}
/* line 13, ../scss/_type.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
  color: #900028 !important;
}

/* line 19, ../scss/_type.scss */
h1, h2, h3 {
  Margin-bottom: 12px;
}

/* line 23, ../scss/_type.scss */
h4, h5, h6 {
  Margin-bottom: 12px;
}

/* line 27, ../scss/_type.scss */
h1 {
  font-size: 39px;
}

/* line 28, ../scss/_type.scss */
h2 {
  font-size: 32px;
}

/* line 29, ../scss/_type.scss */
h3 {
  font-size: 26px;
}

/* line 30, ../scss/_type.scss */
h4 {
  font-size: 19px;
}

/* line 31, ../scss/_type.scss */
h5 {
  font-size: 15px;
}

/* line 32, ../scss/_type.scss */
h6 {
  font-size: 13px;
}

/* line 38, ../scss/_type.scss */
p {
  padding: 0;
  Margin-bottom: 1.2em;
}

/* line 47, ../scss/_type.scss */
ul {
  margin: 0;
  Margin-bottom: 17px;
}

/* line 51, ../scss/_type.scss */
li {
  Margin-bottom: 7px;
}

/* line 59, ../scss/_type.scss */
.lead {
  font-size: 23px;
}

/* line 67, ../scss/_type.scss */
small {
  color: #777777;
  font-size: 85%;
}

/* line 5, ../scss/_btn.scss */
.btn {
  display: inline-block;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 30px;
  padding-right: 30px;
  background: #900028;
  color: #ffffff;
  border: 1px solid #5d001a;
}

/* line 16, ../scss/_btn.scss */
.btn-sm {
  font-size: 13px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 12px;
  padding-right: 12px;
}

/* line 24, ../scss/_btn.scss */
.btn-lg {
  font-size: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 40px;
  padding-right: 40px;
}

/* line 31, ../scss/_btn.scss */
.btn-secondary {
  background: #f9f9f9;
  border: 1px solid #e0e0e0;
  color: #565656;
}

/* line 13, ../scss/_header.scss */
.two-column .logo .inner,
.three-column .logo .inner,
.sixtyfourty-column .logo .inner {
  padding: 0;
  padding-top: 20px;
}
/* line 17, ../scss/_header.scss */
.two-column .logo .inner img,
.three-column .logo .inner img,
.sixtyfourty-column .logo .inner img {
  max-width: 165px;
}
@media screen and (max-width: 460px) {
  /* line 17, ../scss/_header.scss */
  .two-column .logo .inner img,
  .three-column .logo .inner img,
  .sixtyfourty-column .logo .inner img {
    max-width: 165px !important;
  }
}

/* line 33, ../scss/_header.scss */
.header-tagline .inner {
  padding: 0;
  padding-top: 15px;
}

/* line 37, ../scss/_header.scss */
.header-tagline .contents {
  display: inline-block;
  padding-top: 29px;
  font-size: 16px;
}
/* line 42, ../scss/_header.scss */
.header-tagline .contents a, .header-tagline .contents {
  color: #727272;
}
@media screen and (max-width: 460px) {
  /* line 37, ../scss/_header.scss */
  .header-tagline .contents {
    padding-top: 10px !important;
  }
}

/* line 55, ../scss/_header.scss */
.header-description {
  font-size: 15px;
  font-weight: normal;
  line-height: 1.6;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

/* line 5, ../scss/_footer.scss */
.footer {
  padding-top: 40px;
  padding-bottom: 25px;
  font-size: 11.25px;
  text-align: center;
  color: #6a6a6a;
}
/* line 12, ../scss/_footer.scss */
.footer a {
  color: #6a6a6a;
}
/* line 15, ../scss/_footer.scss */
.footer .contact {
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* line 6, ../scss/_blocks.scss */
.block {
  background: #ffffff;
  border: 1px solid #ececec;
}
@media screen and (max-width: 460px) {
  /* line 6, ../scss/_blocks.scss */
  .block {
    border: 0px !important;
  }
}

/* line 20, ../scss/_blocks.scss */
.color-block, .color-block a:not(.btn),
.color-block .title,
.color-block .title-lg,
.color-block .title-sm,
.color-block .subtitle,
.color-block .textlink,
.color-block td {
  color: #ffffff;
}
/* line 29, ../scss/_blocks.scss */
.color-block .date,
.color-block .meta {
  color: #f2f2ef;
}
/* line 33, ../scss/_blocks.scss */
.color-block a {
  display: block;
}
/* line 36, ../scss/_blocks.scss */
.color-block .btn {
  display: inline-block;
}

/* line 41, ../scss/_blocks.scss */
.network {
  background-color: #707579;
}

/* line 44, ../scss/_blocks.scss */
.celebrate {
  background-color: #900028;
}

/* line 47, ../scss/_blocks.scss */
.learn {
  background-color: #44687d;
}

/* line 50, ../scss/_blocks.scss */
.cheer {
  background-color: #6A6550;
}

/* line 53, ../scss/_blocks.scss */
.reflect {
  background-color: #5B797E;
}

/* line 56, ../scss/_blocks.scss */
.experience {
  background-color: #836e41;
}

/* line 59, ../scss/_blocks.scss */
.wildcard {
  background-color: #5b6f7b;
}

/* line 13, ../scss/_events.scss */
.title, .title a,
.title-lg,
.title-lg a,
.title-sm,
.title-sm a,
.title-xs,
.title-xs a {
  display: block;
}

/* line 17, ../scss/_events.scss */
.title-lg,
.title-sm,
.title-xs {
  font-weight: 200;
  Margin-bottom: 7px;
}

/* line 23, ../scss/_events.scss */
.title-lg {
  font-size: 20px;
  line-height: 1.2;
}

/* line 27, ../scss/_events.scss */
.title-sm {
  font-size: 15px;
}

/* line 30, ../scss/_events.scss */
.title-xs {
  font-size: 13px;
  line-height: 1.4;
}

/* line 34, ../scss/_events.scss */
.title,
.subtitle {
  font-weight: normal;
}

/* line 38, ../scss/_events.scss */
.title {
  font-size: 18px;
  Margin-bottom: 3px;
  line-height: 24px;
}

/* line 43, ../scss/_events.scss */
.subtitle {
  color: #6a6a6a;
}

/* line 51, ../scss/_events.scss */
.date,
.meta,
.location {
  font-size: 13px;
  line-height: 1.4;
  Margin-bottom: 0;
}

/* line 58, ../scss/_events.scss */
.date {
  font-weight: bold;
}

/* line 61, ../scss/_events.scss */
.meta,
.location {
  Margin-bottom: 10px;
}

/* line 70, ../scss/_events.scss */
.events {
  Margin: 0;
  padding-left: 0px;
  padding-bottom: 0px;
  list-style: none;
}
/* line 76, ../scss/_events.scss */
.events li {
  Margin: 0;
  Margin-bottom: 15px;
}
/* line 80, ../scss/_events.scss */
.events li:last-child {
  Madding-bottom: 0;
}
/* line 85, ../scss/_events.scss */
.events .more {
  padding: 0;
  font-size: 13px;
  font-weight: normal;
  text-transform: uppercase;
}
/* line 92, ../scss/_events.scss */
.events .event-header {
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
/* line 99, ../scss/_events.scss */
.events .event-header a {
  color: #444444;
}

/* line 5, ../scss/_utilities.scss */
.nowrap {
  white-space: nowrap;
}

/* line 9, ../scss/_utilities.scss */
.gutter {
  height: 50px;
}
