/* line 6, ../scss/_reset.scss */
body {
  Margin: 0;
  padding: 0;
  min-width: 100%;
  background-color: #ffffff;
}

/* line 13, ../scss/_reset.scss */
table {
  border-spacing: 0;
  font-family: "Open Sans", Arial, sans-serif;
  color: #444444;
}

/* line 19, ../scss/_reset.scss */
td {
  padding: 0;
}

/* line 23, ../scss/_reset.scss */
.wrapper {
  width: 100%;
  table-layout: fixed;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 30, ../scss/_reset.scss */
.webkit {
  max-width: 600px;
}

/* line 34, ../scss/_reset.scss */
.outer {
  Margin: 0 auto;
  width: 100%;
  max-width: 600px;
}

/* line 40, ../scss/_reset.scss */
.inner {
  padding: 10px;
}

/* line 44, ../scss/_reset.scss */
.contents {
  width: 100%;
}

/* line 48, ../scss/_reset.scss */
p {
  Margin: 0;
}

/* line 9, ../scss/_scaffolding.scss */
a {
  text-decoration: none;
  color: #900028;
}

/* line 14, ../scss/_scaffolding.scss */
.textlink {
  color: #444444;
}

/* line 22, ../scss/_scaffolding.scss */
h1, h2, h3, h4, h5, h6 {
  color: #333333;
}
/* line 24, ../scss/_scaffolding.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
  color: #900028 !important;
}

/* line 34, ../scss/_scaffolding.scss */
img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  border: 0;
}
/* line 40, ../scss/_scaffolding.scss */
a img {
  border: 0;
}

/* line 45, ../scss/_scaffolding.scss */
.img_fix {
  display: block;
}

/* line 49, ../scss/_scaffolding.scss */
.full-width-image img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

/* line 59, ../scss/_scaffolding.scss */
.contents {
  color: #444444;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.6;
  font-weight: normal;
  font-size: 15px;
  text-align: left;
}

/* line 9, ../scss/_grid.scss */
.two-column,
.three-column,
.sidebar {
  font-size: 0;
}
/* line 14, ../scss/_grid.scss */
.two-column .column,
.three-column .column,
.sidebar .column {
  width: 100%;
  display: inline-block;
}
/* line 19, ../scss/_grid.scss */
.two-column img,
.three-column img,
.sidebar img {
  width: 100%;
  height: auto;
}

/* line 28, ../scss/_grid.scss */
.two-column .column,
.three-column .column {
  vertical-align: top;
}

/* line 35, ../scss/_grid.scss */
.sidebar .column {
  vertical-align: middle;
}
/* line 39, ../scss/_grid.scss */
.sidebar img {
  max-width: 80px;
}

/* line 50, ../scss/_grid.scss */
.two-column .column {
  max-width: 300px;
}
/* line 54, ../scss/_grid.scss */
.two-column img {
  max-width: 280px;
}
/* line 58, ../scss/_grid.scss */
.two-column .text {
  padding-top: 10px;
}

/* line 67, ../scss/_grid.scss */
.three-column {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 71, ../scss/_grid.scss */
.three-column .column {
  max-width: 200px;
}
/* line 75, ../scss/_grid.scss */
.three-column .contents {
  text-align: center;
}
/* line 79, ../scss/_grid.scss */
.three-column img {
  max-width: 180px;
}
/* line 83, ../scss/_grid.scss */
.three-column .text {
  padding-top: 10px;
}

/* line 92, ../scss/_grid.scss */
.sidebar {
  text-align: center;
}
/* line 95, ../scss/_grid.scss */
.sidebar .aside {
  max-width: 100px;
}
/* line 99, ../scss/_grid.scss */
.sidebar .main {
  max-width: 500px;
}

@media screen and (max-width: 460px) {
  /* line 112, ../scss/_grid.scss */
  .two-column .column {
    max-width: 100% !important;
  }
  /* line 116, ../scss/_grid.scss */
  .two-column img {
    max-width: 100% !important;
  }

  /* line 123, ../scss/_grid.scss */
  .three-column .column {
    max-width: 100% !important;
  }
  /* line 127, ../scss/_grid.scss */
  .three-column img {
    max-width: 50% !important;
  }
}
@media screen and (min-width: 461px) and (max-width: 620px) {
  /* line 134, ../scss/_grid.scss */
  .three-column .column {
    max-width: 33% !important;
  }

  /* line 138, ../scss/_grid.scss */
  .two-column .column {
    max-width: 50% !important;
  }

  /* line 142, ../scss/_grid.scss */
  .sidebar .main {
    max-width: 100% !important;
  }
  /* line 145, ../scss/_grid.scss */
  .sidebar .main .contents {
    text-align: center !important;
  }
}
/* line 9, ../scss/_type.scss */
h1, h2, h3, h4, h5, h6 {
  Margin-top: 0;
  color: #333333;
  line-height: 1.2;
}
/* line 13, ../scss/_type.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
  color: #900028 !important;
}

/* line 19, ../scss/_type.scss */
h1, h2, h3 {
  Margin-bottom: 12px;
}

/* line 23, ../scss/_type.scss */
h4, h5, h6 {
  Margin-bottom: 12px;
}

/* line 27, ../scss/_type.scss */
h1 {
  font-size: 39px;
}

/* line 28, ../scss/_type.scss */
h2 {
  font-size: 32px;
}

/* line 29, ../scss/_type.scss */
h3 {
  font-size: 26px;
}

/* line 30, ../scss/_type.scss */
h4 {
  font-size: 19px;
}

/* line 31, ../scss/_type.scss */
h5 {
  font-size: 15px;
}

/* line 32, ../scss/_type.scss */
h6 {
  font-size: 13px;
}

/* line 38, ../scss/_type.scss */
p {
  padding: 0;
  Margin-bottom: 1.2em;
}

/* line 47, ../scss/_type.scss */
ul {
  margin: 0;
  Margin-bottom: 17px;
}

/* line 51, ../scss/_type.scss */
li {
  Margin-bottom: 7px;
}

/* line 59, ../scss/_type.scss */
.lead {
  font-size: 23px;
}

/* line 67, ../scss/_type.scss */
small {
  color: #777777;
  font-size: 85%;
}
